<template>
  <div class="home">
    <!-- <card-with-image v-for="card in listeCard" :key="card.title" :card-info="card" /> -->
    <!-- LES SLOTS -->
    <user-card titre="Mon titre">
      Mon contenu dans le slot
    </user-card>
    <!-- LES V-MODEL -->
    <input-text v-model="inputValue" />
    Valeur dans le parent {{ inputValue }}
    <input-checkbox v-model="checkboxValue"></input-checkbox>
    {{ checkboxValue }}
    <bouton-gym labelDuBouton="Afficher la modale" @btn-clicked="modale.visible = true;" />
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src
import CardWithImage from '@/components/card-with-image.vue';
import InputText from '@/components/input-text.vue';
import GenericCard from '@/components/generic-card.vue';
import UserCard from '@/components/user-card.vue';
import InputCheckbox from '@/components/input-checkbox.vue';
import Modale from '@/components/modale.vue';
import BoutonGym from '@/components/bouton-gym.vue';

@Options({
  components: {
    HelloWorld,
    CardWithImage,
    InputText,
    GenericCard,
    UserCard,
    InputCheckbox,
    Modale,
    BoutonGym,
  },
  async created() {
    // récupétration des infos
  },
  data() {
    return {
      modale: {
        visible: false,
        value: '1',
      },
      src: 'logo.png',
      inputValue: '42',
      checkboxValue: true,
      listeCard: [
        {
          nomImage: 'logo.png',
          title: 'titre',
          commentaire: 'fdsfsfds',
          visible: false,
        },
        {
          nomImage: 'logo.png',
          title: 'titre',
          commentaire: 'fdsfsfds',
          visible: true,
        },
        {
          nomImage: 'logo.png',
          title: 'titre',
          commentaire: 'fdsfsfds',
          visible: true,
        },
      ],
    };
  },
})
export default class Home extends Vue {}
</script>

<style scoped>

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
</style>
