<template>
  <button
    @dblclick="$emit('double-click')"
    @click="
      nbClic = nbClic + 1;
      $emit('btn-clicked', nbClic);
    "
    class="bouton"
  >
    {{ labelDuBouton }}
  </button>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'bouton-gym',
  data() {
    return {
      nbClic: 0,
    };
  },
  emits: ['btn-clicked'],
  props: {
    labelDuBouton: {
      type: String,
      required: false,
      default: 'label',
    },
  },
});
</script>

<style scoped>

.bouton {
  align-content: center;
    width: 100px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: 1s;
}

.bouton:hover {
  background: white;
  color: black;
  border-color: black;
}

.test {
  color: red;
}

</style>
