<template>
  <div class="card">
    <image-gym v-if="cardInfo.visible" :nomImage="cardInfo.nomImage" />
    <div v-else>
      Pas d'image
    </div>
    <title-with-paragraphe :title="cardInfo.title">
      <template #paragraphe>
        {{ cardInfo.commentaire }}
      </template>
    </title-with-paragraphe>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import imageGym from './image-gym.vue';
import TitleWithParagraphe from './title-with-paragraphe.vue';

export default defineComponent({
  components: { imageGym, TitleWithParagraphe },
  name: 'paragraphe',
  props: {
    cardInfo: {
      type: Object,
      required: true,
    },
  },
  data() {
    return { afficher: false };
  },
});
</script>

<style scoped>

</style>
