<template>
  <div class="generic-card">
    <div>
      <slot name="titre">
        Titre par defaut
      </slot>
    </div>
    <div>
      <slot name="body">
        Valeur par defaut
      </slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'generic-card',
  props: {
    titre: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>

.generic-card {
  width: 250px;
  height: 150px;
  border-radius: 12px;
  box-shadow: 1px 4px 17px 3px rgba(0,0,0,0.52);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

</style>
