<template>
  <img :src="require(`@/assets/${nomImage}`)" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'image-gym',
  props: {
    nomImage: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>

</style>
