<template>
    <input type="checkbox" v-model="localValue" id="scales" name="scales"
         checked>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import LocalValueMixin from '@/mixins/local-value-mixin';

export default defineComponent({
  name: 'input-checkbox',
  mixins: [LocalValueMixin],
});
</script>

<style scoped>

</style>
