<template>
  <input type="text" v-model="localValue">
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import LocalValueMixin from '@/mixins/local-value-mixin';

export default defineComponent({
  name: 'input-text',
  mixins: [LocalValueMixin],
});
</script>

<style scoped>

</style>
