<template>
  <p>
    <slot />
  </p>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'paragraphe',
  props: {
    content: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>

</style>
