<template>
  <h2>
    {{ title }}
  </h2>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'primary-card-title',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>

</style>
