<template>
  <slot name="titre" />
  <primary-card-title :title="title"/>
  <paragraphe>
    <slot name="paragraphe" />
  </paragraphe>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Paragraphe from './paragraphe.vue';
import primaryCardTitle from './primary-card-title.vue';

export default defineComponent({
  components: { primaryCardTitle, Paragraphe },
  name: 'title-with-paragraphe',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>

</style>
