<template>
  <generic-card>
    <template #titre>
      {{ getTitre() }}
    </template>
    <template #body>
      <slot>
        Pas de contenu
      </slot>
    </template>
  </generic-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import genericCard from './generic-card.vue';

export default defineComponent({
  components: { genericCard },
  name: 'user-card',
  props: {
    titre: {
      type: String,
      required: true,
    },
  },
  methods: {
    getTitre(): string {
      const localTitre = this.titre;
      return localTitre;
    },
  },
});
</script>

<style scoped>

</style>
